@use '../utils/varibales' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • Tablet breakpoint styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.main-footer {
  background: map-get($colors-palette, custom-dgray);
  color: #fff;

  &__logo svg{
    width: 100px;
    margin-bottom: 0.5rem;

    path {
      fill: #fff;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  &__link {
    margin-bottom: 0.5rem;

    i {
      margin-right: 0.5rem;
      width: 25px;
    }
  }
}


/*
  • Tablet breakpoint styles
  ---------- ---------- ---------- ---------- ----------
*/

.main-footer {

  &__logo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    svg {
      width: 200px;
    }

  }

  .navigation {
    align-items: center;

    &__link {
      font-size: 1.2em;
    }
  }
}
