@use '../utils/varibales' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.main-footer {
  background: $dark-gray;
  color: #fff;

  &__logo svg{
    width: 100px;
    margin-bottom: 0.5rem;

    path {
      fill: #fff;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  &__link {
    margin-bottom: 0.5rem;

    i {
      margin-right: 0.5rem;
      width: 25px;
    }
  }
}
