@use 'varibales' as *;

//convert a number in px
@function to-px($number) {
  @return $number * 1px;
}

//convert a number into rem
@function to-rem($pxValue) {
  @return #{$pxValue / map-get($font-sets, base-size)}rem;
}
