//colors set
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$alternative-color: #99E2D0;
$gray-bg: #F6F6F6;

//fonts set
$default-font-base: 16;
$default-font-family: 'Roboto';
$title-font-family: 'Shrikand';
$default-font-color: #000;
$custom-font-color: #353535;
