/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Colors set
  • Fonts set
  • Shadows set
  • Breakpoints set
*/

/*
  • Colors set
  ---------- ---------- ---------- ---------- ----------
*/
$colors-palette: (
  primary: #9356DC,
  secondary: #FF79DA,
  tertiary: #99E2D0,
  custom-gray: #F6F6F6,
  custom-dgray: #353535,
  custom-green: #008766,
);

/*
  • Fonts set
  ---------- ---------- ---------- ---------- ----------
*/
$font-sets: (
  base-size: 16,
  font-family: ('Roboto', sans-serif),
  title-font-family: 'Shrikhand',
  font-color: #000,
  custom-font-color: map-get($colors-palette, custom-dgray),
);

/*
  • Shadows set
  ---------- ---------- ---------- ---------- ----------
*/

$default-box-shadow: 0px 5px 15px 0 rgba(113, 113, 113, 0.21);

/*
  • Breakpoints set
  ---------- ---------- ---------- ---------- ----------
*/

$tablet-breakpoint: 768px;
$breakpoints: (
  mobile: 580px,
  tablet: 768px,
  desktop: 992px,
);
