//colors set
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$alternative-color: #99E2D0;
$gray: #F6F6F6;
$dark-gray: #353535;
$green: #008766;

//fonts set
$default-font-base: 16;
$default-font-family: 'Roboto';
$title-font-family: 'Shrikhand';
$default-font-color: #000;
$custom-font-color: $dark-gray;

//Shadows
$default-box-shadow: 0px 5px 5px 0 #d6d1d1
