@use '../utils/varibales' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • primary styles
  . hover styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background: transparent;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out, box-shadow 0.25s 0.05s ease-in-out;
}

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.button--primary {
  background: linear-gradient(0deg, map-get($colors-palette, primary) 0%, map-get($colors-palette, secondary) 100%);
}

/*
  • :hover styles
  ---------- ---------- ---------- ---------- ----------
*/

.button:hover {
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 40%);
}

.button--primary:hover {
  background: linear-gradient(0deg, lighten(map-get($colors-palette, primary), 5) 0%, lighten(map-get($colors-palette, secondary), 5) 100%);
}
