@use '../utils/varibales' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • --primary styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background: $gray;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 5px 5px 0 rgba(113, 113, 113, 0.21);
}

.button.--primary {
  background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}

.button:hover {
  filter: brightness(2);
}


