@use '../utils/varibales' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • --primary styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.button {
  padding: 1rem 1.5rem;
  background: $gray;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 5px 5px 0 #d6d1d1;
}

.button.--primary {
  background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}


