@use '../utils/varibales' as *;
@use '../utils/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Base styles
  • :Hover styles
*/

/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

@keyframes remove {
  from {
    transform: none;
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes grow {
  0% { transform: scaleY(1);}
  20% { transform: scaleY(0.8);}
  100% { transform: scaleY(1.5);}
}
/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: #fff;
  animation: remove 1s ease-in-out 3s forwards ;

  &__content {
    animation: remove 0.5s ease-in-out 3.5s forwards;
    display: flex;
    align-items: center;
  }

  &__bar {
    height: 60px;
    width: 10px;
    background: black;
    margin-left: 5px;
    border-radius: 20px;
    animation:  grow 1s ease-in-out infinite alternate;

    &:nth-child(1) {
      background: map-get($colors-palette, primary);
    }

    &:nth-child(2) {
      background: map-get($colors-palette, secondary);
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      background: map-get($colors-palette, tertiary);
      animation-delay: 0.2s;
    }
  }
}
