@use '../utils/varibales' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Base styles
  • :Hover styles
*/


/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeUp {
  from {
    top: 1rem;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.plate-card {
  opacity: 0;
  position: relative;
  background: #fff;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $default-box-shadow;
  animation: 0.5s ease-in-out forwards fadeUp;


  &:nth-child(1) {
   animation-delay: 0.3s;
  }

  &:nth-child(2) {
    animation-delay: 0.5s;
  }

  &:nth-child(3) {
    animation-delay: 0.7s;
  }

  &:nth-child(4) {
    animation-delay: 0.8s;
  }

  &__container {
    display: flex;

    > * {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: to-rem(10);
  }

  &__title {
    width: 100%;
    margin-bottom: to-rem(5);
    font-size: 1rem;
    font-weight: 500;

    @include nowrap-text
  }

  &__desc {
    width: calc(100% - (60px));
    font-size: 0.9rem;
    font-weight: 300;

    @include nowrap-text
  }

  &__price {
    width: 60px;
    text-align: center;
    font-weight: bold;
  }

  &__validation {
    background: map-get($colors-palette, tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0;
    font-size: 1.3rem;
    color: #fff;
    transition: width 0.3s ease-out;

    .valid-icon {
      transition: all 0.3s ease-out;
    }
  }
}

/*
  • :Hover styles
  ---------- ---------- ---------- ---------- ----------
*/


.plate-card:hover .plate-card__validation {
  width: 70px;

  .valid-icon {
    animation: 0.3s ease-out rotate360;
  }
}
