@use '../utils/varibales' as *;
@use '../utils/functions' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • active styles
*/

@keyframes fill {
  from {
    height: 0;
  }
  to {
    height: 25px;
  }
}

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

.save-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 1rem;
  width: 100%;
  max-width: 30px;
  font-size: 1.5rem;
  color: #000;

  > * {
    transition: 0.3s ease-in-out;
    transition-property: height, color, opacity, clip-path;
    display: block;
    overflow: hidden;
    height: 25px;
  }

  &--active {
    position: absolute;
    top: 0;
    height: 25px;
    opacity: 0;
    background-image: linear-gradient(0deg, map-get($colors-palette, secondary) 0%, map-get($colors-palette, primary) 100%);
    -webkit-background-clip: text;
    color: transparent;
    clip-path: inset(90% 0% 0%);
  }
}


/*
  • --hover styles
  ---------- ---------- ---------- ---------- ----------
*/
.save-icon:hover,
.saved {
  .save-icon--base {
    color: transparent;
  }
  .save-icon--active {
    opacity: 1;
    clip-path: inset(0% 0% 0%);
  }
}
