@use 'vendors/normalize';
@use 'utils/varibales';
@use 'utils/functions';
@use 'base/reset';
@use 'base/config';
@use 'layout/main-header';
@use 'layout/main-footer';
@use 'components/buttons';
@use 'components/menu-card';
@use 'components/plate-card';
@use 'components/save-icon';
@use 'pages/home';
@use 'pages/single-menu';
