@use '../utils/varibales' as *;
@use '../utils/functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
  font-size: to-px($default-font-base);
  font-family: $default-font-family;
  color: $default-font-color
}

h1,
h2
{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container {
  padding: to-rem(45) to-rem(25);
}

.last-margin-fix {
  :last-child {
    margin-bottom: 0 !important;
  }
}
