@use '../utils/varibales' as *;
@use '../utils/functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base styles
  • Tablet breakpoint styles
*/

/*
  • Base styles
  ---------- ---------- ---------- ---------- ----------
*/

body {
  font-size: to-px($default-font-base);
  font-family: $default-font-family;
  color: $default-font-color
}

h1,
h2
{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  padding: to-rem(35) to-rem(15);
}

.last-margin-fix {
  > :last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
}


/*
  • Tablet breakpoint styles
  ---------- ---------- ---------- ---------- ----------
*/

@media all and (min-width: $tablet-breakpoint) {
  main {
    min-height: calc(100vh - 310px);
  }

  .container {
    padding: to-rem(40);
  }
}

