body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  :hover {
    color: inherit;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
