@use '../utils/varibales' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Banner section styles
  • Process section styles
  • Tablet breakpoint styles
  • Large breakpoint styles
*/


/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/


/*
  • Banner section styles
  ---------- ---------- ---------- ---------- ----------
*/

.banner {
  background: map-get($colors-palette, custom-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__text {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: to-rem(25);
  }
}

/*
  • Process section styles
  ---------- ---------- ---------- ---------- ----------
*/

.step-bloc {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.7rem;
  background: map-get($colors-palette, custom-gray);
  margin-bottom: 1.5rem;
  margin-left: calc(25px /2);
  box-shadow: $default-box-shadow;
  border-radius: 1rem;
  font-weight: 500;
  color: map-get($colors-palette, custom-dgray);
  transition: background-color 0.3s ease-out;

  &__number {
    position: absolute;
    left: calc(0px - (25px / 2));
    display: flex;
    align-items: center;
    justify-content: center;
    background: map-get($colors-palette, primary);
    height: to-rem(25);
    width: to-rem(25);
    border-radius: 50%;
    font-size: 80%;
    color: #fff;
  }

  &__icon {
    margin-right: 1.5rem;
    width: 25px;
    transition: color 0.3s ease-out;
  }
}

.step-bloc:hover {
  background: lighten(map-get($colors-palette, primary), 30%);

  .icon {
    color: map-get($colors-palette, primary);
  }
}

/*
  • Restaurant cards section styles
  ---------- ---------- ---------- ---------- ----------
*/

.restaurants {
  background: map-get($colors-palette, custom-gray);
}

.restaurants__cards {
  display: flex;
  flex-flow: row wrap;

  > * {
    width: 100%;
  }
}

/*
  • Tablet breakpoint styles
  ---------- ---------- ---------- ---------- ----------
*/

@include on-tablet {

  //process section

  .process {
    &__title {
      text-align: center;
    }

    &__steps {
      display: flex;
      justify-content: center;

      .step-bloc {
        margin-bottom: 0;
        margin-right: 1.5rem;
      }
    }
  }

  //restaurants cards section

  .restaurants {
    &__title {
      text-align: center;
    }
    &__cards {
      width: 100%;
      justify-content: center;

      > * {
        max-width: 260px;
      }
    }
  }
}

