@use '../utils/varibales' as *;
@use '../utils/functions' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Banner section styles
*/


/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/


/*
  • Banner section styles
  ---------- ---------- ---------- ---------- ----------
*/

.banner {
  background: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__text {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: to-rem(25);
  }
}


/*
  • Process section styles
  ---------- ---------- ---------- ---------- ----------
*/
