@use '../utils/varibales' as *;
@use '../utils/functions' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Menu Cover styles
*/


/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

.menu-container {
  position: relative;
  background: $gray;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
}

/*
  • Menu Cover styles
  ---------- ---------- ---------- ---------- ----------
*/

.menu-cover {
  position: relative;
  width: 100%;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(100% / (1.5/1));
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
  • Menu Headers styles
  ---------- ---------- ---------- ---------- ----------
*/

.menu-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__title {
    margin: 0;
    font-family: $title-font-family;
    font-style: italic;
    font-size: 1.7rem;
  }

  &__save-icon {
    cursor: pointer;
    margin: 0 1rem;
    width: 30px;

    svg {
      stroke-width: 20;
      stroke: #000;
      width: 100%;
      height: auto;

      path {
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
        fill: transparent;
      }
    }
  }
}

.menu-headers__save-icon:hover {
  svg {
    path {
      stroke-width: 0;
      fill:(url(#paint0_linear_231_2));
    }
  }
}

/*
  • Menu Headers styles
  ---------- ---------- ---------- ---------- ----------
*/

.menu-item {
  margin-bottom: 2rem;
  color: $custom-font-color;

  &__title {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 15px;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      margin-top: 4px;
      background: $alternative-color;
    }
  }
}




.menu-action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
