@use 'vendors/normalize';
@use 'base/color';
@use 'base/font';
@use 'utils/varibales';
@use 'utils/functions';
@use 'layout/main-header';
@use 'layout/main-footer';
@use 'components/button';
@use 'components/menu-card';
@use 'components/plate-card';
@use 'pages/home';
@use 'pages/single-menu';